@import url("https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap&subset=cyrillic");

* {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

ul {
  list-style: none;
}
